{% extends "base.html" %}
{% load static %}

{% block titlename %}
<title>
	Customer Protection
</title>
{% endblock titlename %}

{% block content %}
<main class="content">
	<div class="fullwidth-block">
		<div class="container">
			<div class="row my-5">
				<div class="col-md-8 wow fadeInLeft">
					<h2 class="section-title">We care about your safety</h2>
					<p>Booking a package travel via a travel agent or a tour operator provides extra protection for
						consumers when travelling. Packages are easier to cancel should something go wrong. Travel
						organisers have to arrange alternative services if the package is not perfomed properly, assist
						the travellers in need and compensate them in certain cases. </p>

					<p>If the organiser goes bankrupt, the package travel directive also provides a unique protection
						that ensures that stranded travellers are repatriated, can continue their vacation or get
						refunded of all sums prepaid for the booking of their holiday. </p>

					<p>Sed efficitur nunc non efficitur convallis. Proin placerat condimentum nulla feugiat pellentesque
						phasellus ex urna, vestibulum in congue eget, commodo quis nulla. Sed eleifend euismod urna,
						eget eleifend neque. Integer ultricies efficitur est. Aenean vitae quam et est pharetra eleifend
						vel in magna. Praesent fermentum nulla vitae enim aliquam venenatis. Vestibulum lacinia, lacus
						eget tincidunt ultrices, sapien quam tristique eros, eu iaculis sem tortor rutrum orci. Proin
						aliquam ipsum non tempus consectetur hac habitasse platea.</p>

					<div class="row">
						<div class="col-md-3 col-xs-6">
							<h4>Ultrices fementum</h4>
							<ul class="list-arrow">
								<li>Cras tristique sodales</li>
								<li>Cursus sem finibus</li>
								<li>Qesnique autumm</li>
								<li>Ambregedul Amesyu</li>
								<li>Bahreway bahreway</li>
							</ul>
						</div>
						<div class="col-md-3 col-xs-6">
							<h4>Ultrices fementum</h4>
							<ul class="list-arrow">
								<li>Cras tristique sodales</li>
								<li>Cursus sem finibus</li>
								<li>Qesnique autumm</li>
								<li>Ambregedul Amesyu</li>
								<li>Bahreway bahreway</li>
							</ul>
						</div>
						<div class="col-md-3 col-xs-6">
							<h4>Ultrices fementum</h4>
							<ul class="list-arrow">
								<li>Cras tristique sodales</li>
								<li>Cursus sem finibus</li>
								<li>Qesnique autumm</li>
								<li>Ambregedul Amesyu</li>
								<li>Bahreway bahreway</li>
							</ul>
						</div>
						<div class="col-md-3 col-xs-6">
							<h4>Ultrices fementum</h4>
							<ul class="list-arrow">
								<li>Cras tristique sodales</li>
								<li>Cursus sem finibus</li>
								<li>Qesnique autumm</li>
								<li>Ambregedul Amesyu</li>
								<li>Bahreway bahreway</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-md-push-1 wow fadeInRight">
					<h2 class="section-title">Categories</h2>
					<ul class="list-arrow alt">
						<li><a href="#">Cras tristique sodales</a></li>
						<li><a href="#">Cursus sem finibus</a></li>
						<li><a href="#">Qesnique autuminum</a></li>
						<li><a href="#">Ambregedul Amesyu</a></li>
						<li><a href="#">Bahreway bahreway</a></li>
					</ul>
				</div>
			</div>

		</div>

	</div>


</main> <!-- .content -->
{% endblock content %}